.photos {
    height: 300px;
}

.creditContainer {
    height: 20px;
}

.allPhotos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.photos {
    margin-left: 3px;
    margin-right: 3px;
}

.slick-prev:before,
.slick-next:before {
color: black;

}
cite, 
a {
font-style: normal;
color: lightgray;
}

#carouselContainer {
    margin-bottom: 90px;
}

#carouselTittle {
    margin-left: 50px;
}