.popper {
    display: inline-block;
    background-color: #8c734b;
    color: rgb(38,69,110);
    font-weight: bold;
    padding: 1.5% 8px;
    font-size: 16px;
    border-radius: 1px;
    line-height: 0%;
  }
  

  