table {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding-left: 15px;
}

.tableDiv {
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 30px;
    width: 900px;
}

.cityclicked:hover{
    zoom: 1.1;
    color: #8c734b;
}

td {
  font-size: 20px;
  }

th {
    font-size: 25px;
}

.removeBtn {
      color: white;
      margin-left: 200px;
      font-size: 15px;
      border: none;
      border-radius: 8px;
      width: 100px;
}

.cityclicked {
    display: inline-block;
}

img {
    height: 100%;
}

.photos {
    height: 200px;
}

.nestCarousel {
    max-width: 700px;
    margin-left: 15px;
}

  .carousel {
      margin: 10px;
      margin-left: 15px;
      border: 1px solid lightgray;
      border-radius: 6px;
      padding-top: 10px;
      padding-bottom: 10px;
      max-height: 215px;
      max-width: 700px;
  }

  cite,
  a {
      text-transform: none;
      color: gray;
      font-style: normal;
  }

  #inputSave { 
      text-align: center;
  }

  #sumWeather {
      border: 1px solid lightgray;
      border-radius: 6px;
      margin-top: 10px;
  }

  .closeBtn {
      height: 30px;
  }

  th {
      border-top: none;
  }

  .container {
      background-color:white;
      border-radius: 6px;
      margin-top: 35px;
  }
  .nestWeather {
      padding: 5px;
      margin-top: 50px;
  
  }

  #sumWeather {
      background-color: #e6e6e6;
  }

  .divSum {
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      padding: 4px;
      border-radius: 6px;
  }

